<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DashboardDND</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/angular-drag-and-drop-lists/2.1.0/angular-drag-and-drop-lists.js">
    </script>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div ng-app="dashboardDND" ng-controller="DNDController">

        <div class="col-md-12">
            <div class="row">
                <div ng-repeat="list in models1.lists" class="nestedDemo simpleDemo typesDemo">
                    <h2>Drag and Drop</h2>

                    <ul dnd-list="list.divSection" dnd-allowed-types="list.allowedTypes"
                        dnd-disable-if="list.divSection.length >= list.max" dnd-external-sources="true" dnd-dragover=""
                        dnd-drop="" dnd-horizontal-list="true" dnd-inserted="">
                        <!-- dnd-dragover="dragOver(event,index,  type, external,  dropEffect, callback)"
                        dnd-drop="drop(index, external, type, callback)"
                        dnd-inserted="insert('inserted at', index, external,type)" -->

                        <li ng-repeat="item in list.divSection" dnd-draggable="item" dnd-effect-allowed="move"
                            dnd-moved="list.divSection.splice($index,1)" dnd-copied="" dnd-linked="" dnd-canceled=""
                            dnd-selected="models1.selected = item" dnd-type="item.type"
                            dnd-disable-if="item.type == 'unknown'"
                            dnd-callback="callback(list,$index, targetList, targetIndex)"
                            dnd-dragstart="dragStart(list,event)" dnd-dragend="dragEnd('dragEnd String',dropEffect)">
                            {{item.name}}
                        </li>
                    </ul>
                    <div></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>

    <script>
        angular.module('dashboardDND', ['dndLists'])
            .controller('DNDController', DNDController);

        DNDController.$inject = ['$scope'];

        function DNDController($scope) {

            $scope.models1 = {
                selected: null,
                lists: [{
                        "allowedTypes": ["div"],
                        "max": 8,
                        divSection: [{
                                "name": "div1",
                                "type": "div"
                            },
                            {
                                "name": "div2",
                                "type": "div"
                            },
                            {
                                "name": "div3",
                                "type": "div"
                            }
                        ]
                    },
                    {
                        "allowedTypes": ["span", "div"],
                        "max": 8,
                        divSection: [{
                                "name": "span1",
                                "type": "span"
                            },
                            {
                                "name": "div4",
                                "type": "div"
                            },
                            {
                                "name": "span2",
                                "type": "span"
                            }
                        ]
                    },
                    {
                        "allowedTypes": ["span"],
                        "max": 8,
                        divSection: [{
                                "name": "span3",
                                "type": "span"
                            },
                            {
                                "name": "sapn4",
                                "type": "span"
                            },
                            {
                                "name": "span5",
                                "type": "span"
                            }
                        ]
                    }
                ]
            }

            $scope.dragStart = function (list, event) {
                console.log(list, event);
            }

            $scope.dragOver = function (event, index, type, external, dropEffect, callback) {
                console.log(event, index, type, external, dropEffect, callback);
            }

            $scope.dragEnd = function (dragEndString, dropEffect) {
                console.log(dragEndString, dropEffect);
            }

            $scope.drop = function (index, item, external) {
                console.log(index, item, external);
            }

            $scope.insert = function (insertedString, index, external, type) {
                console.log(insertedString, index, external, type);
            }

            $scope.callback = function (list, $index, targetList, targetIndex) {
                console.log(list, $index, targetList, targetIndex);
                return "callback triggered";
            }

        }
    </script>
</body>

</html>